# Train_test_split

In [1]:
from sklearn.model_selection import train_test_split
import pandas as pd

In [2]:
data=pd.DataFrame({
    "study_hours":[1,2,3,4,5,6,7,8],
    "marks":[35,40,50,55,65,70,80,85]
})
data

   study_hours  marks
0            1     35
1            2     40
2            3     50
3            4     55
4            5     65
5            6     70
6            7     80
7            8     85

In [3]:
x=data[["study_hours"]]  #input
y=data["marks"] #output
x
y

0    35
1    40
2    50
3    55
4    65
5    70
6    80
7    85
Name: marks, dtype: int64

In [4]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20,random_state=40)   
#here test_size is 20% sp it take 80% for train if we take train_test=0.80 and it take 20% to test automatically. 
# rando  state is used to suffle the data

In [5]:
x_train   # index and study_hours

   study_hours
2            3
4            5
0            1
5            6
3            4
6            7

In [6]:
y_train #index and marks

2    50
4    65
0    35
5    70
3    55
6    80
Name: marks, dtype: int64

In [7]:
x_test

   study_hours
7            8
1            2

In [8]:
y_test

7    85
1    40
Name: marks, dtype: int64

In [9]:
x_train.shape

(6, 1)

In [10]:
x_test.shape

(2, 1)

In [11]:
y_train.shape

(6,)

# Real time databasets

In [12]:
diabetes=pd.read_csv("https://raw.githubusercontent.com/YBIFoundation/Dataset/main/Diabetes.csv")

In [13]:
diabetes

,pregnancies,glucose,diastolic,triceps,insulin,bmi,dpf,age,diabetes
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [14]:
diabetes.columns

Index(['pregnancies', 'glucose', 'diastolic', 'triceps', 'insulin', 'bmi',
       'dpf', 'age', 'diabetes'],
      dtype='object')

In [15]:
y=diabetes['diabetes']
y

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: diabetes, Length: 768, dtype: int64

In [16]:
x=diabetes[["pregnancies","glucose","diastolic","triceps","insulin","bmi","dpf","age"]]
x

     pregnancies  glucose  diastolic  triceps  insulin   bmi    dpf  age
0              6      148         72       35        0  33.6  0.627   50
1              1       85         66       29        0  26.6  0.351   31
2              8      183         64        0        0  23.3  0.672   32
3              1       89         66       23       94  28.1  0.167   21
4              0      137         40       35      168  43.1  2.288   33
..           ...      ...        ...      ...      ...   ...    ...  ...
763           10      101         76       48      180  32.9  0.171   63
764            2      122         70       27        0  36.8  0.340   27
765            5      121         72       23      112  26.2  0.245   30
766            1      126         60        0        0  30.1  0.349   47
767            1       93         70       31        0  30.4  0.315   23

[768 rows x 8 columns]

In [17]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20,random_state=2529)

In [18]:
x_train

     pregnancies  glucose  diastolic  triceps  insulin   bmi    dpf  age
517            7      125         86        0        0  37.6  0.304   51
286            5      155         84       44      545  38.7  0.619   34
614           11      138         74       26      144  36.1  0.557   50
256            3      111         56       39        0  30.1  0.557   30
316            3       99         80       11       64  19.3  0.284   30
..           ...      ...        ...      ...      ...   ...    ...  ...
584            8      124         76       24      600  28.7  0.687   52
740           11      120         80       37      150  42.3  0.785   48
399            3      193         70       31        0  34.9  0.241   25
562            1       87         68       34       77  37.6  0.401   24
352            3       61         82       28        0  34.4  0.243   46

[614 rows x 8 columns]

In [19]:
y_train

517    0
286    0
614    1
256    0
316    0
      ..
584    1
740    1
399    1
562    0
352    0
Name: diabetes, Length: 614, dtype: int64

In [20]:
x_test

     pregnancies  glucose  diastolic  triceps  insulin   bmi    dpf  age
513            2       91         62        0        0  27.3  0.525   22
539            3      129         92       49      155  36.4  0.968   32
2              8      183         64        0        0  23.3  0.672   32
577            2      118         80        0        0  42.9  0.693   21
123            5      132         80        0        0  26.8  0.186   69
..           ...      ...        ...      ...      ...   ...    ...  ...
600            1      108         88       19        0  27.1  0.400   24
572            3      111         58       31       44  29.5  0.430   22
625            4       90         88       47       54  37.7  0.362   29
173            1       79         60       42       48  43.5  0.678   23
107            4      144         58       28      140  29.5  0.287   37

[154 rows x 8 columns]

In [21]:
y_test

513    0
539    1
2      1
577    1
123    0
      ..
600    0
572    0
625    0
173    0
107    0
Name: diabetes, Length: 154, dtype: int64

In [22]:
x_train.shape

(614, 8)

In [23]:
y_train.shape

(614,)

In [24]:
x_test.shape

(154, 8)

In [25]:
y_test.shape

(154,)